/* --- COMPONENTS --- */

body {
    overflow: hidden;
}

/* Navbar */

.navbar_container {
    font-size: 45px;
    color: white;
    text-shadow: 3px 3px 3px black;
    z-index: 5;
}
.navbar_link {
    color: white;
    font-size: 45px;
    text-decoration: none;
}
.navbar_link:hover {
    color: black;
}
.navbar_about {
    position: absolute;
    top: 5%;
    left: 25%; 
}
.navbar_contact {
    position: absolute;
    bottom: 5%;
    left: 65%;
}
.navbar_skills {
    position: absolute;
    justify-content: center;
    top: 60%;
    left: calc(1rem + 0vw);
    transform: rotate(90deg) translate(-50%, -50%);
}
.navbar_portfolio {
    position: absolute;
    justify-content: center;
    top: 40%;
    right: calc(1rem + 2vw);
    transform: rotate(-90deg) translate(-50%, -50%);
}
@media screen and (max-width: 700px) {
    .navbar_link {
        font-size: 30px;
    }
    .navbar_about {
        top: 2%;
        left: 20%;
    }
    .navbar_contact {
        bottom: 2%;
        left: 60%;
    }
    .navbar_skills {
        left: calc(-2rem + 0vw);
        top: 60%;
    }
    .navbar_portfolio {
        right: calc(-1rem + 1vw);
        top: 30%;
    }
}

/* SocialLinks */

.social_links_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    color: white;
    bottom: 0;
    right: 2rem;
}
.social_links_container span {
    font-size: 30px;
    margin: 3px;
    text-shadow: 3px 3px 3px black;
    cursor: pointer;
}
.social_links_container span:hover {
    color: black;
    transition: all 0.5s ease;
}
.social_links_line {
    width: 2px;
    height: 8rem; 
    background-color: white;
}
@media screen and (max-width: 700px) {
    .social_links_container {
        right: 1rem;
    }
    .social_links_container span {
        font-size: 20px;
    }
    .social_links_line {
        max-height: 4rem;
    }
}

/* SoundBar */

.sound_bar_container {
    display: flex;
    position: fixed;
    left: 5rem;
    top: 2.5rem;
    cursor: pointer;  
    z-index: 2;
    color: white;
    font-size: 45px;
    animation: float 4s ease infinite;
}
.sound_bar_container:hover {
    color: black;
}
@keyframes float {
    0% { transform: translateY(-10px) }
    50% { transform: translateY(15px) translateX(15px) }
    100% { transform: translateY(-10px) }
}
@media screen and (max-width: 700px) {
    .sound_bar_container {
    font-size: 20px;
    left: 1.5rem;
    }
}

/* ButtomReturn */

.buttom_return_icon {
    position: absolute; 
    top: 0%;
    padding: 40px;
    margin-left: 100px;
    color: white;
    font-size: 60px;
    right: calc(1rem + 0vw);
    cursor: pointer;
    animation: pulse 4s ease infinite;
    z-index: 5;
}
.buttom_return_icon:hover {
    color: black;
    transition: all 0.2  ease;
}
    @keyframes pulse {
        0% { transform: scale(1) }
        50% { transform: scale(0.7) }
        100% { transform: scale(1) }
}
@media screen and (max-width: 700px) {
    .buttom_return_icon {
        font-size: 30px;
        right: calc(-0.5rem + 0vw);
    }
}

/* --- PAGES --- */

/* Home */

.home_container {
    background-color: black;
}

/* Intro */

.intro_container {
    background: url("./img/intro.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}
.intro_container h1 {
    position: absolute;
    margin: 250px 0 0 250px;
    font-size: 65px;
    color: red;
    text-transform: uppercase;
}
.intro_container p {
    position: absolute;
    margin: 350px 0 0 250px;
    font-size: 50px;
    color: white;  
}
.intro_container img {
    margin: 120px 0 0 850px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    opacity: 0.5;
    cursor: pointer;  
}
@media screen and (max-width: 700px) {
    .intro_container h1 {
        margin: 400px 0 0 100px;
        font-size: 35px;
    }
    .intro_container p {
        margin: 500px 0 0 100px;
        font-size: 30px;   
    }
    .intro_container img {
        margin: 100px 0 0 150px;
        width: 200px;
        height: 200px;
    }
}

/* About */

.about_container {
    background: url("./img/back02.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about_container p {
    width: 550px;
    font-size: 35px;
    color: white;
    text-align: center;   
    margin: 50px;
    text-shadow: 2px 2px 2px #000;
}
.about_container img {
    width: 350px;
    height: 400px;  
    border-radius: 50%;
    object-fit: cover;  
    filter: grayscale(50%);
}
@media screen and (max-width: 700px) {
    .about_container {
        display: flex;
        flex-direction: column;
    }
    .about_container p {
        width: 300px;
        font-size: 22px;
    }
    .about_container img {
        width: 200px;
        height: 250px;
    }
}

/* Portolio */

.portfolio_container {
    background: url("./img/portfolio.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    overflow:auto;
}
.portfolio_gallery {
    padding: 60px;
    display: grid;
    justify-content: center;    
}
.portfolio_gallery img {
    height: 300px;
    width: 400px;
    border-radius: 10%;
    margin: 20px;
    cursor: pointer;
}
@media screen and (max-width: 700px) {
    .portfolio_gallery img {
        height: 200px;
        width: 300px;
        margin: 10px;
    }
}

/* Skills */

.skills_container {
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.skills_container video {
    width: 100vw;
}
.skills_box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid #000;
    border-radius: 10px;
    height: 320px;
    width: 200px;
    padding: 30px;
    margin: 30px;
    background: white;
    filter: opacity(0.7);  
}
.skills_box h1 {
    color: black;
    font-size: 20px;
}
.skills_box h3 {
    color: black;
    font-size: 15px;
    margin: 5px 0px 0px 5px;
}
.skills_progress {
	background-color: #d8d8d8;
	border-radius: 20px;
	position: relative;
	margin: 15px 0;
	height: 20px;
	width: 200px;
}
.skills_progress-done {
	background: linear-gradient(to left, red, #FF9472);
	box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C;
	border-radius: 20px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 4s ease 0.3s;
}
@media screen and (max-width: 700px) {
    .skills_container {
        flex-direction: column;
        overflow: auto;
        margin-top: 5px;
    }
    .skills_container video {
        width: 200vh;
    }
    .skills_box {
        height: 100px;
        width: 200px;
        margin: 10px;
    }
    .skills_box h1 {
        font-size: 10px;
    }
    .skills_box h3 {
        font-size: 10px;
    }
    .skills_progress {
        margin: 5px 0;
        height: 8px;
        width: 120px;
        font-size: 10px;
    }
}

/* Contact */ 

.contact_container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;  
    text-shadow: 2px 2px 2px white;  
}
.contact_container video {
    width: 100vw;
}
.contact_info {
    z-index: 3;
}
.contact_info div {
    display: flex;
    align-items: center;    
    margin-top: -20px;
    color: black;
}
.contact_info h2 {
    font-size: 25px;
    margin: 15px;
}
.contact_info p {
    display: flex;
    margin-left: 0px;
    color: black;  
    font-size: 20px;
    font-weight: 400;
    width: 450px;
}
.contact_form {
    border: 1px solid black;
    padding: 20px;
    z-index: 3;
}
.contact_form div {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    margin: 10px;
}
.contact_form h2 {
    color: black;
    font-size: 20px;
}
.contact_form span {
    margin: 5px;
    text-shadow: 2px 2px 2px white;
}
.contact_form input {
    height: 15px;
}
.contact_form textarea {
    height: 100px;
    width: 300px;
    border-radius: 10px;
}
.contact_form button {
    background: red;
    color: white;
    height: 30px;
    width: 60px;
    cursor: pointer;
}
.contact_form button:hover {
  background-color: darkred;
}
@media screen and (max-width: 700px) {
    .contact_container {
        display: flex;
        flex-direction: column;
    }
    .contact_container video {
        width: 200vh;
    }   
    .contact_info {    
        width: 250px;
    }
    .contact_info div {
        margin-top: -20px;
    }
    .contact_info h2 {
        font-size: 15px;
    }
    .contact_info p {
        font-size: 15px;
    }
    .contact_form div {
        margin: 5px;
    }
    .contact_form h2 {
        font-size: 12px;
    }
    .contact_form span {
        font-size: 12px;
    }
    .contact_form input {
        height: 15px;
    }
    .contact_form textarea {
        height: 60px;
        width: 220px;
    }
    .contact_form button {
        height: 20px;
        width: 50px;
        font-size: 12px;
    }
}